@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content {
  li {
    @apply text-sm;
  }

  ul {
    @apply list-disc pt-3 pb-3;
  }

  ol {
    @apply list-decimal pl-6 lg:pl-10;
  }
}
